## Inegi Jalisco Census Data

Goal
- Drive Insights with education and economics for each municipality in the Mexico state of Jalisco for a subequent geographic analysis.

In [1]:
import pandas as pd
import numpy as np

In [2]:
#load in the data
df = pd.read_csv('RESAGEBURB2020 - 14 Jalisco (1).csv')

- PEA: Population over 12 that is economically active or has job
- PEA_F: Population over 12 that is economically active or has job for females
- PEA_M: Population over 12 that is economically active or has job for males
- PEA_INAC:Population over 12 that is NOT economically active 
- PE_INAC_F:Population over 12 that is NOT economically active for females
- PE_INAC_M:Population over 12 that is NOT economically active for males
- GRAPROES:Median school grade 
- GRAPROES_F: Median school grade for females
- GRAPROES_M: Median school grade for males
- P15YM_SE: Population over 15 without school
- PROM_HNV:Amount of children
- POBTOT: Total population

In [3]:
df.head(5)

,ENTIDAD,NOM_ENT,MUN,NOM_MUN,LOC,NOM_LOC,AGEB,MZA,POCUPADA,PEA,...,POCUPADA_M,PDESOCUP,PDESOCUP_F,PDESOCUP_M,GRAPROES,GRAPROES_F,GRAPROES_M,P15YM_SE,PROM_HNV,POBTOT
0,14,Jalisco,1,Acatic,1,Acatic,0194,18,33,33,...,21,0,0,0,7.76,8.38,7.21,*,1.82,66
1,14,Jalisco,1,Acatic,1,Acatic,0194,19,32,32,...,17,0,0,0,8.33,8.48,8.14,8,1.96,61
2,14,Jalisco,1,Acatic,1,Acatic,0194,2,23,24,...,18,*,0,*,6.51,5.91,7.14,6,3.26,55
3,14,Jalisco,1,Acatic,1,Acatic,0194,20,31,31,...,24,0,0,0,6.90,6.04,7.59,5,3.36,72
4,14,Jalisco,1,Acatic,1,Acatic,0194,21,32,33,...,19,*,0,*,6.89,6.47,7.38,11,3.03,61

In [4]:
df.columns

Index(['ENTIDAD', 'NOM_ENT', 'MUN', 'NOM_MUN', 'LOC', 'NOM_LOC', 'AGEB', 'MZA',
       'POCUPADA', 'PEA', 'PEA_F', 'PEA_M', 'PE_INAC', 'PE_INAC_F',
       'PE_INAC_M', 'POCUPADA_F', 'POCUPADA_M', 'PDESOCUP', 'PDESOCUP_F',
       'PDESOCUP_M', 'GRAPROES', 'GRAPROES_F', 'GRAPROES_M', 'P15YM_SE',
       'PROM_HNV', 'POBTOT'],
      dtype='object')

In [52]:
df = df[['NOM_ENT', 'MUN', 'NOM_MUN', 'AGEB','PEA', 'PEA_F', 'PEA_M', 'PE_INAC', 'PE_INAC_F',
       'PE_INAC_M', 'POCUPADA_F', 'POCUPADA_M', 'PDESOCUP', 'PDESOCUP_F',
       'PDESOCUP_M', 'GRAPROES', 'GRAPROES_F', 'GRAPROES_M', 'P15YM_SE',
       'PROM_HNV', 'POBTOT']]

In [53]:
df = df.dropna()

In [54]:
df['NOM_MUN'].unique()

array(['Acatic', 'Atemajac de Brizuela', 'TomatlÃ¡n', 'TonalÃ¡',
       'Zacoalco de Torres', 'Atenguillo', 'Zapopan', 'Zapotlanejo',
       'San Ignacio Cerro Gordo', 'Atotonilco el Alto', 'Atoyac',
       'AutlÃ¡n de Navarro', 'AyotlÃ¡n', 'Ayutla', 'La Barca', 'BolaÃ±os',
       'AcatlÃ¡n de JuÃ¡rez', 'Cabo Corrientes', 'Casimiro Castillo',
       'CihuatlÃ¡n', 'EncarnaciÃ³n de DÃ­az', 'EtzatlÃ¡n', 'El Grullo',
       'Guachinango', 'Guadalajara', 'Ameca', 'MexticacÃ¡n', 'Mezquitic',
       'MixtlÃ¡n', 'OcotlÃ¡n', 'Ojuelos de Jalisco', 'Pihuamo', 'PoncitlÃ¡n',
       'El Salto', 'San CristÃ³bal de la Barranca',
       'San Diego de AlejandrÃ­a', 'San Juan de los Lagos', 'San JuliÃ¡n',
       'San Marcos', 'San MartÃ­n de BolaÃ±os', 'San MartÃ­n Hidalgo',
       'TepatitlÃ¡n de Morelos', 'Tequila', 'TeuchitlÃ¡n',
       'TizapÃ¡n el Alto', 'Tlajomulco de ZÃºÃ±iga', 'San Pedro Tlaquepaque',
       'TolimÃ¡n'], dtype=object)

In [26]:
#change format options to supress scientic notation
pd.options.display.float_format = '{:.2f}'.format

In [55]:
print(df['POBTOT'].describe())

count     30000.00
mean        449.84
std       17073.64
min           0.00
25%          22.00
50%          59.00
75%         114.00
max     1476491.00
Name: POBTOT, dtype: float64

In [48]:
df['POBTOT'].loc[29996]

15

In [56]:
#0-22,23-59,60-114,115- 1476491
Q1_boolean_search = (df['POBTOT'] < 22)
Q1_Pueblos = df[Q1_boolean_search]
Q1_Pueblos = Q1_Pueblos.dropna()

In [57]:
Q2_boolean = (df['POBTOT'] >= 22) & (df['POBTOT'] <= 59)
Q2_Pueblos = df[Q2_boolean]
Q2_Pueblos.head()

,NOM_ENT,MUN,NOM_MUN,AGEB,PEA,PEA_F,PEA_M,PE_INAC,PE_INAC_F,PE_INAC_M,...,POCUPADA_M,PDESOCUP,PDESOCUP_F,PDESOCUP_M,GRAPROES,GRAPROES_F,GRAPROES_M,P15YM_SE,PROM_HNV,POBTOT
2,Jalisco,1,Acatic,0194,24,5,19,21,18,3,...,18,*,0,*,6.51,5.91,7.14,6,3.26,55
5,Jalisco,1,Acatic,0194,14,5,9,14,11,3,...,9,0,0,0,7.25,7.94,6.33,6,1.44,34
7,Jalisco,1,Acatic,0194,16,5,11,15,13,*,...,11,0,0,0,7.10,7,7.21,4,3.50,39
10,Jalisco,1,Acatic,0194,23,9,14,23,17,6,...,14,0,0,0,9.88,10.25,9.42,3,2,57
11,Jalisco,1,Acatic,0194,21,10,11,9,7,*,...,11,0,0,0,10.37,10.06,10.77,3,2.53,38